.form-item_container {
  padding: 16px 16px;
  transition: background 0.1s;
  color: rgba(var(--ion-text-color-rgb), 0.8);
  background: var(--ion-item-background);
  margin: 2px 0;
}

.form-item_clickable:active {
  background: rgba(0, 32, 128, 0.1);
}

.form-item_text-emphasis {
  color: var(--ion-color-primary);
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 4px;
}
