.task-list-item_container {
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  padding: 8px;
  cursor: pointer;
  touch-action: pan-y !important;
  min-height: 48px;
}

.task-list-item_complete {
  font-weight: lighter;
  opacity: 0.5;
}

ion-icon {
  font-size: 28px;
}

.task-input {
  width: 100%;
  padding: 8px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1em;
  &:focus {
    border-color: rgba(0, 128, 256, 0.8);
  }
}
